@import "assets/breakpoints";

.lists{
  & .accordion-header{
    display: flex;
    justify-content: space-between;
  }
  & .item{
    user-select: none;
    border: 1px solid gray;
    border-radius: 4px;
    & .answer{
      text-align: left;
    }
  }
  & .actions{
    text-align: left;
    @media (max-width: $minMd){
      button{
        flex: 1;
      }
    }
  }
}
