
$minXXl: 1400px;
$minXl: 1200px;
$minLg: 992px;
$minMd: 768px;
$minSm: 576px;
$minXs: 0;

:export {
  minXXl: $minXXl;
  minXl: $minXl;
  minLg: $minLg;
  minMd: $minMd;
  minSm: $minSm;
  minXs: $minXs;

}
