html {
  font-size: 16px;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &>.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  & .main {
    flex: 1
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
